@media only screen and (min-width: 40em){
  .nav-holder ul li {width: 100%; }
  .nav-holder ul li span{ display: inline-block;}
  .nav-holder .selected {border-left: 10px solid #57DCD4;border-top: none;}
  .nav-holder ul li .fa {display: inline-block;margin: auto;text-align: center;float: left;}
}
